* {
    box-sizing: border-box;
    /* сбрасывает все внешние отступы */
    margin: 0;
    /* сбрасывает все внутренние отступы */
    padding: 0;
}

html {
    /* добавляем google fonts */
    font-family: 'Roboto', sans-serif;
    /* ставим по умолчании жирность текста */
    font-weight: 400;
    /* line-height: 1.625; */
}

a {
    /* убираем подчеркивание на ссылках */
    text-decoration: none;
}

.header {}

.container1 {
    min-height: 50px;
    min-width: 1920px;
    background-color: #efefef;
}

.navbar-secondary {}


.navbar-secondary__list {
    /* убираем точки слева, делаем его не лист */
    list-style-type: none;
    /* ставим в один ряд */
    display: flex;
    /* разрешает перенос, в случае уменьшения экрана */
    flex-wrap: wrap;
    /* расстояние между словами в navbar */
    column-gap: 30px;
    /* ставим текст по середине по вертикали */
    align-items: center;
    /* ставим текст по середине по горизонтали */
    justify-content: center;
    padding-top: 15px;
}

.navbar-secondary__item {}

.navbar-secondary__link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.container2 {
    min-height: 120px;
    min-width: 1920px;
    background-color: #ffffff;
    /* ставит в ряд картинку и текст */
    display: flex;
    gap: 20px;

    /* ставим текст по середине по горизонтали */
    /* justify-content: center; */
}

.logo {}

.logo__link {}

.logo__image {
    position: absolute;

    left: 400px;
    top: 70px;
}

.logo__title {
    position: absolute;
    width: 158px;
    height: 39px;
    left: 505px;
    top: 91px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;

    color: #F13C6E;
}

.feedback {}

.feefback__phone {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 1178px;
    top: 100px;

    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.feefback__button {
    position: absolute;
    /* width: 117px;
    height: 15px; */
    left: 1372px;
    top: 102px;

    font-size: 14px;
    line-height: 16px;

    color: #000000;

}

.container3 {
    min-height: 79px;
    min-width: 1920px;
    background-color: #ffffff;
    border-top: 2px solid #efefef;
}

.navbar-primary {}

.navbar-primary__list {
    /* убираем точки слева, делаем его не лист */
    list-style-type: none;
    /* ставим в один ряд */
    display: flex;
    /* разрешает перенос, в случае уменьшения экрана */
    flex-wrap: wrap;
    /* расстояние между словами в navbar */
    column-gap: 40px;
    /* ставим текст по середине по вертикали */
    /* align-items: center; */
    /* ставим текст по середине по горизонтали */
    justify-content: center;
    padding-top: 25px;
}

.navbar-primary__item {}

.navbar-primary__link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main {}

.container-super {
    min-height: 604px;
    min-width: 1920px;
    background-color: #f13c6e;
    background-image: url(../img/Background1.png);
    /* центрирует */
    background-position: 50% 50%;
    /* полностью вписывает картинку */
    background-size: cover;
    bg
}

.container-super__title {
    position: absolute;
    width: 308px;
    height: 44px;
    left: 405px;
    top: 409px;

    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.container-super__description {
    position: absolute;
    width: 308px;
    height: 35px;
    left: 405px;
    top: 535px;

    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.container-super__button {
    position: absolute;
    width: 117px;
    height: 15px;
    left: 432px;
    top: 632px;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.container-special {
    min-width: 1920px;
    background-color: #efefef;
}

.container-all {
    /* прибавляем к размеру блока + padding 1110 + 20 + 20 */
    max-width: 1110px;
    /* padding: 0 20px; */
    /* ставим контейнер по середине */
    margin: 0 auto;
}

.container-special__title {
    /* position: absolute;
        width: 319px;
        height: 29px;
        left: 405px;
        top: 933px;
   */
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: #efefef;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 38px;
}

.container-special__box4x {
    max-height: 363px;
    max-width: 1110px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
}

.container-special__box1x {
    height: 363px;
    width: 255px;
    background-color: #ffffff;
    padding-top: 30px;
}

.container-special__image {
    /* делаем строчный img элемент блочным */
    display: block;
    /* ставим по центру */
    margin: 0 auto;
    height: 166px;
    width: 125px;
    margin-bottom: 20px;
}

.container-special__description {
    height: 33px;
    width: 195px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container-special__description-text {
    font-size: 14px;
    line-height: 20px;
    /* текст по центру */
    text-align: center;
    color: #333333;
}

.container-special__price {
    height: 19px;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container-special__price-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
}

.container-special__button {
    height: 35px;
    width: 130px;
    margin: 0 auto;
    background-color: #f13c6e;
    /* закругления на углах */
    border-radius: 40px;
    margin-bottom: 25px;
}

.container-special__button-link {}

.container-special__univers {
    height: 100px;
    width: 1110px;
    background-color: #efefef;
}

.container-special__bonus {
    height: 212px;
    width: 1110px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
}

.container-special__bonus-box1 {
    height: 212px;
    width: 540px;
    background-color: blue;
}

.container-special__impuls {
    height: 357px;
    width: 1110px;
    background-color: yellow;
    display: flex;
    /* gap: 5px; */
    flex-wrap: wrap;


}

.container-special__impuls-item {
    height: 119px;
    width: 25%;
    background-color: #ffffff;
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    /* margin: auto; */
    border: 1px solid #efefef;

}

.container-special__impuls-image {
    /* делаем строчный img элемент блочным */
    display: block;
    /* ставим по центру */
    margin: auto;
    margin-top: 33px;

}


.container-special__nedavno {
    height: 147px;
    width: 1110px;
    background-color: #efefef;
}

.container-special__univers2 {
    height: 81px;
    width: 1110px;
    background-color: #efefef;
}

.container-popular {
    height: 373px;
    width: 1920px;
    background-color: red;
}

.footer {}

.footer-box1 {
    height: 120px;
    width: 1920px;
    background-color: #ffffff;
}

.footer-box1__insta {}

.footer-box1__insta-phone {

    position: absolute;
        width: 127px;
        height: 19px;
        left: 1178px;
        top: 3145px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
                color: #000000;
}

.footer-box1__insta-callback {
    /* position: absolute;
        width: 117px;
            height: 15px;
        left: 1372px;
        top: 3147px;
        border-top: 2px solid #efefef;
        background-color: #F13C6E; */

}

.footer-box1__insta-callback-button {
    position: absolute;
        /* width: 117px;
        height: 15px; */
        left: 1372px;
        top: 3147px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    
        color: #000000;
}


.footer-box2 {
    height: 64px;
    width: 1920px;
    background-color: #efefef;
}

.footer-box2__name {
    position: absolute;
    width: 584px;
    height: 14px;
    left: 405px;
    top: 3240px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer-box2__copyright {
    position: absolute;
    width: 181px;
    height: 14px;
    left: 1334px;
    top: 3240px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #828282;
}