* {
    box-sizing: border-box;
    /* сбрасывает все внешние отступы */
    margin: 0;
    /* сбрасывает все внутренние отступы */
    padding: 0;
}

html {
    /* добавляем google fonts */
    font-family: 'Roboto', sans-serif;
    /* ставим по умолчании жирность текста */
    font-weight: 400;
    /* line-height: 1.625; */
}

a {
    /* убираем подчеркивание на ссылках */
    text-decoration: none;
}

.header {}

.container1 {
    min-height: 50px;
    min-width: 1920px;
    background-color: #efefef;
}


.navbar-secondary {}


.navbar-secondary__list {
    /* убираем точки слева, делаем его не лист */
    list-style-type: none;
    /* ставим в один ряд */
    display: flex;
    /* разрешает перенос, в случае уменьшения экрана */
    flex-wrap: wrap;
    /* расстояние между словами в navbar */
    column-gap: 30px;
    /* ставим текст по середине по вертикали */
    align-items: center;
    /* ставим текст по середине по горизонтали */
    justify-content: center;
    padding-top: 15px;

}

.navbar-secondary__item {}

.navbar-secondary__link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.container2 {
    min-height: 120px;
    min-width: 1920px;
    background-color: #ffffff;
    /* ставит в ряд картинку и текст */
    display: flex;
    gap: 20px;

    /* ставим текст по середине по горизонтали */
    /* justify-content: center; */


}

.logo {}

.logo__link {}

.logo__image {}

.logo__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;

}

.feedback {}

.feefback__phone {}

.container3 {
    min-height: 79px;
    min-width: 1920px;
    background-color: #ffffff;
    border-top: 2px solid #efefef;
}

.navbar-primary {}

.navbar-primary__list {
    /* убираем точки слева, делаем его не лист */
    list-style-type: none;
    /* ставим в один ряд */
    display: flex;
    /* разрешает перенос, в случае уменьшения экрана */
    flex-wrap: wrap;
    /* расстояние между словами в navbar */
    column-gap: 40px;
    /* ставим текст по середине по вертикали */
    /* align-items: center; */
    /* ставим текст по середине по горизонтали */
    justify-content: center;
    padding-top: 25px;
}

.navbar-primary__item {}

.navbar-primary__link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.main {
    min-height: 300px;
    min-width: 1920px;
    background-color: #f13c6e;
}