@use "presets" as *;

/* общий класс кнопок */
.btn {
    /* обязательно меняем из строчного в блочный */
    display: flex;
    /* ставим текст по середине по высоте */
    align-items: center;
    /* ставим текст по середине по ширине */
    justify-content: center;
    /* центрирует по ширине, если не включен display: flex */
    text-align: center;
    /* всегда добавляем к ширине или высоте min */
    /* лучше max-width min-height */
    max-width: 170px;
    min-height: 40px;
    /* внутренние отступы  */
    padding: 0.25em 1em;
    /* закругления по углам */
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* расстояние между буквами */
    letter-spacing: 0.05em;

    &--primary {
        color: $color-primary-black;
        background: $color-white;
        border: 2px solid $color-accent-red;
        /* остальные настройки в общем классе btn  */
    }

    &--secondary {
        color: $color-white;
        background: $color-accent-red;
        border: 2px solid $color-white;
        /* остальные настройки в общем классе btn  */
    }

    &--sm {
        width: 130px;
        height: 35px;
        background: $color-accent-red;
        border: 1px solid $color-accent-red;
        border-radius: 30px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        color: $color-white;
        /* остальные настройки в общем классе btn  */
    }
}

.activ:hover {
    box-shadow: 0 0 7px $color-accent-red;
}

.activ2:hover {
    box-shadow: 0 0 7px $color-white;
}