@use "presets" as *;
@use "mixins" as *;

// common общий
/* Обязательно так указывать!!! */
*,
::after,
::before {
    box-sizing: border-box;
    /* сбрасывает все внешние отступы */
    margin: 0;
    /* сбрасывает все внутренние отступы */
    padding: 0;
}

html {
    /* размер в html используется для rem */
    font-size: 16px;
}

body {
    /* в body прописывем все что наследуется */
    /* добавляем google fonts */
    font-family: $font-family;
    /* font-size: 14px; */
    /* ставим font-size в rem (14/16=0.875) */
    font-size: 0.875rem;
    font-style: normal;
    /* ставим по умолчании жирность текста */
    font-weight: 400;
    /* цвет текста */
    color: $color-gray;
    /* фон страницы */
    background: $color-light;
}

a {
    /* убираем подчеркивание на ссылках */
    text-decoration: none;
    /* цвет наследовать из body $color-gray*/
    color: inherit;
}

.container {
    /* высоту не задаем, она растягивается от контента */
    /* обязательно учитывать padding (1110+20+20) */
    max-width: $max-width;
    /* обязательно всегда ставим */
    padding: 0 20px;
    /* ставит по центру (по ширине) */
    margin: 0 auto;
}