.footer {}

.footer-box1 {
    min-height: 120px;
    background-color: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px;

    &__insta {
        display: flex;
        /* ставим по середине по высоте */
        align-items: center;
        gap: 20px;
    }

    &__contacts {
        display: flex;
        /* ставим по середине по высоте */
        align-items: center;
        gap: 40px;

        &-phone {
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        &-button {
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            /* всегда добавляем к ширине или высоте min */
            /* лучше max-width min-height */
            max-width: 170px;
            min-height: 40px;
            background: #FFFFFF;
            border: 2px solid #F13C6E;
            border-radius: 40px;
        }
    }
}

.container--ft1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box2 {
    height: 63px;
    background-color: #efefef;
    padding-top: 25px;
    padding-bottom: 25px;

    &__name {
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }

    &__copyright {
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
}

.container--ft2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}