@use "presets" as *;
@use "mixins" as *;

.footer {}

.footer-box1 {
    min-height: 120px;
    background-color: $color-white;

    @include md-min {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    @include md-sm {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // @media (max-width: $md) {
    //     padding-top: 20px;
    //     padding-bottom: 20px;
    // }

    @include sm {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    // @media (max-width: $sm) {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 15px;
    // }

    &__insta {
        display: flex;
        /* ставим по середине по высоте */
        align-items: center;
        gap: 20px;
    }

    &__contacts {
        display: flex;
        /* ставим по середине по высоте */
        align-items: center;
        gap: 40px;

        @include sm {
            gap: 20px;
            flex-direction: column;
        }

        // @media (max-width: $sm) {
        //     gap: 20px;
        //     flex-direction: column;
        // }

        &-phone {
            font-size: 16px;
            line-height: 19px;
            color: $color-primary-black;
        }

        &-button {
            font-size: 14px;
            line-height: 16px;
            color: $color-primary-black;
            /* всегда добавляем к ширине или высоте min */
            /* лучше max-width min-height */
            max-width: 170px;
            min-height: 40px;
            background: $color-white;
            border: 2px solid $color-accent-red;
            border-radius: 40px;
        }
    }
}

.container--ft1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    // @media (max-width: $md) {
    //     flex-direction: column;
    //     gap: 10px;
    // }

}

.footer-box2 {
    height: 63px;
    background-color: $color-light;
    padding-top: 25px;
    padding-bottom: 25px;

    &__name {
        font-size: 12px;
        line-height: 14px;
        color: #828282;

        @include md {
            text-align: center;
        }

        // @media (max-width: $md) {
        //     text-align: center;
        // }
    }

    &__copyright {
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
}

.container--ft2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
        flex-direction: column;
        gap: 10px;
    }

    // @media (max-width: $md) {
    //     flex-direction: column;
    //     gap: 10px;
    // }
}