@use "presets" as *;
@use "mixins" as *;

.hero {
    min-height: 604px;
    /* ширину не задаем, она меняется от размера экрана */
    background-color: $color-accent-red;
    background-image: url(../img/Background1.png);
    /* выключаем повторение */
    background-repeat: no-repeat;

    /* полностью вписывает картинку, если нужно */
    background-size: cover;
    /* или так, зависит от картинки */
    // background-size: contain;

    padding-top: 159px;
    padding-bottom: 192px;
    /* цвет можно поставить здесь, будет относится ко всему блоку */
    color: $color-white;

    @include md-min {
        background-position: 50% 50%;
    }

    // @media (min-width: $md) {
    //     /* центрирует, выставляем по центру */
    //     background-position: 50% 50%;
    // }
    @include md-sm {
        background-position: 68% 50%;
    }

    // @media (max-width: $md - 0.2px) and (min-width: $sm) {
    //     background-position: 68% 50%;
    // }
    @include sm {
        background-position: 62% 50%;
    }

    // @media (max-width: $sm - 0.2px) {
    //     background-position: 62% 50%;
    // }

    &__content {
        max-width: 310px;
        /* это способ 2 чтобы задать отступы, не обязательно */
        /* высоту не задаем, она растягивается от контента */
        /* задаем свойство flex, чтобы указать отступы через gap */
        /* display: flex; */
        /* ставит в столбик */
        /* flex-direction: column; */
        /* отступы */
        /* gap: 40px; */

        &-title {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            /* цвет стоит в общем блоке hero */
            /* color: $color-white; */
        }

        &-description {
            font-size: 14px;
            line-height: 20px;
            /* цвет стоит в общем блоке hero */
            /* color: $color-white; */
            padding-top: 9px;
            padding-bottom: 44px;
        }
    }
}