@use "presets" as *;
@use "mixins" as *;

.impuls {
    margin-bottom: 79px;

    &__box {
        /* height: 357px; */
        /* width: 1110px; */
        /* background-color: yellow; */
        // способ 1
        // display: flex;
        /* gap: 5px; */
        // flex-wrap: wrap;
        // способ 2
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        // @media (max-width: $md) {
        //     grid-template-columns: repeat(2, 1fr);
        // }

        &-item {
            min-height: 119px;
            // width: 25%;
            background-color: $color-white;
            /* display: block; */
            /* justify-content: center;
            align-items: center; */
            /* margin: auto; */
            border: 1px solid $color-light;

            &-image {
                /* делаем строчный img элемент блочным */
                display: block;
                /* ставим по центру */
                margin: auto;
                margin-top: 33px;
            }

        }

    }

}