@use "presets" as *;

.looked {
    margin-bottom: 80px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $color-primary-black;
        margin-bottom: 39px;
    }

    &__content {
        /* ставим горизонтально */
        /* display: flex; */
        // способ 1
        // display: grid;
        /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
        // grid-template-columns: repeat(4, 1fr);
        // способ 2
        display: grid;
        /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        gap: 30px;

        @media (max-width: $mn) {
            // отменили, сбросили то что было (initial)
            grid-auto-columns: initial;
            grid-auto-flow: initial;
            // два блока на весь экран
            grid-template-columns: repeat(2, 1fr);
        }

        &-item {
            background-color: $color-white;
            /* задаем одинаковое соотношение размеры всех items */
            /* чтобы при добавлении текста ничего не смещалось */
            /* мы убрали flex */
            /* flex-grow: 1; */
            /* обязательно указываем базисный размер, 1/4 */
            /* gap 20 * 3 / 4 = 15px */
            /* flex-basis: calc(25% - 22.5px); */
            /* flex-shrink: 0; */
            padding: 25px;
            /* обязательно */
            display: flex;
            /* ставим по вертикали */
            flex-direction: column;
            /* ставит по центру все блоки, если flex */
            align-items: center;
            /* отступы между блоками */
            gap: 20px;

            &-title {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $color-gray;
            }

            &-picture {
                /* ставим картинку выше текста */
                order: -1;
                /* выравниваем картинку (строчный элемент) по ширине, центр */
                text-align: center;
            }

            &-price {
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;
                text-align: center;
                letter-spacing: 0.05em;
                color: $color-primary-black;
            }

        }

    }

}