@use "presets" as *;
@use "mixins" as *;

.navbar-secondary {
    background: $color-light;
    /* укажем мин высоту */
    min-height: 50px;
    /* ставим в один ряд все блоки*/
    display: flex;
    /* ставим текст по середине по ширине */
    align-items: center;
    /* для мобильных версий, чтобы был отступ */
    padding-top: 1em;
    padding-bottom: 1em;

    &__list {
        /* убираем точки слева, делаем его не лист */
        list-style-type: none;
        /* ставим в один ряд весь список */
        display: flex;
        /* разрешает перенос, в случае уменьшения экрана */
        flex-wrap: wrap;
        /* расстояние между словами в navbar, ширина, высота*/
        gap: 5px 30px;
        /* ставим текст по середине по высоте */
        align-items: center;
        /* ставим текст по середине по ширине */
        justify-content: center;

        &-item {
            &-link {
                font-size: 14px;
                line-height: 16px;
                color: $color-gray;
            }

        }

    }

}

.navbar-info {
    background-color: $color-white;

    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $color-white;
        /* чтобы все элементы были в один ряд по горизонтали */
        /* ставит в ряд картинку и текст */
        display: flex;
        /* разрешает перенос, в случае уменьшения экрана */
        flex-wrap: wrap;
        /* расставляет по внешним краям блока */
        justify-content: space-between;
        /* ставим текст по середине по высоте */
        align-items: center;
        /* на всякий случай растояние между блоками, ширина, высота */
        gap: 10px 40px;

        @media (max-width: $mn) {
            justify-content: center
        }

    }
}

.logo {
    &__link {
        /* ставим в один ряд */
        display: flex;
        /* ставим текст по середине по высоте */
        align-items: center;
        /* растояние между элементами */
        gap: 20px;

        &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.1em;
            color: $color-accent-red;
            transition: 1s;
        }

    }

}

.logo__link-title:hover {
    transform: scale(1.1);
}

.feedback {
    /* ставим в один ряд */
    display: flex;
    /* ставим текст по середине по высоте */
    align-items: center;
    /* растояние между элементами */
    gap: 10px 40px;

    @media (max-width: $sm) {
        flex-direction: column;
    }

    &__phone {
        font-size: 16px;
        line-height: 19px;
        color: $color-primary-black;
    }

}

.navbar-primary {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-white;
    /* только верхний border */
    border-top: 1px solid $color-light;

    &__list {
        /* убираем точки слева, делаем его не лист */
        list-style-type: none;
        /* ставим в один ряд */
        display: flex;
        /* разрешает перенос, в случае уменьшения экрана */
        flex-wrap: wrap;
        /* ставим текст по середине по вертикали */
        align-items: center;
        /* ставим текст по середине по горизонтали */
        justify-content: center;
        /* расстояние между словами в navbar, ширина, высота*/
        gap: 5px 40px;

        &-item {
            &-link {
                font-size: 16px;
                line-height: 19px;
                color: $color-primary-black;
            }

        }

    }

}