.popular {
    min-height: 373px;
    /* ширину не задаем, она меняется от размера экрана */
    background-color: $color-white;
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid $color-light;
}

.popular-box {
    // способ 1
    // display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    // grid-template-columns: repeat(4, 1fr);
    // способ 2
    display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 30px;

    &__item {
        background-color: $color-white;

        &-title {
            width: 99px;
            font-weight: 500;
            font-size: 16px;
            line-height: 140.62%;
            color: $color-primary-black;
            padding-bottom: 25px;
        }

        &-description {
            padding-top: 25px;
            border-top: 1px solid $color-light;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            color: #828282;

            &-list {
                /* убираем точки слева, делаем его не лист */
                list-style-type: none;
            }
        }

    }
}