@use "presets" as *;
@use "mixins" as *;

.submit {
    /* padding-top: 100px; */
    padding-bottom: 100px;
}

.container--submit {
    /* ставит блоки в линию по горизонтали */
    /* display: flex; */
    // способ 1
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // способ 2
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    // расстояние между блоками
    gap: 30px;


    // large - lg 992px
    @media (max-width: $lg) {

        // отменили, сбросили то что было (initial)
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // grid-auto-flow: column;
        grid-template-columns: 1fr;


    }
}

.subscribe {
    background-color: $color-accent-red;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 50px;

    @media (max-width: $sm) {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content {
        max-width: 250px;

        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $color-white;
        }

        &__description {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-white;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        &__mail {
            &-button {
                /* обязательно меняем из строчного в блочный */
                display: flex;
                /* ставим текст по середине по высоте */
                align-items: center;
                /* ставим текст по середине по ширине */
                justify-content: center;
                /* центрирует по ширине, если не включен display: flex */
                /* text-align: center; */
                /* всегда добавляем к ширине или высоте min */
                /* лучше max-width min-height */
                width: 225px;
                height: 35px;
                /* внутренние отступы  */
                padding: 0.25em 1em;
                background: $color-white;
                border: 2px solid $color-accent-red;
                /* закругления по углам */
                border-radius: 30px;
                font-size: 14px;
                line-height: 16px;
                /* text-align: center; */
                color: #C4C4C4;
            }
        }

    }

    &-picture {
        /* обязательно меняем из строчного в блочный */
        display: flex;
        /* ставим текст по середине по высоте */
        align-items: center;
    }

}

.location {
    background-color: $color-accent-red;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 50px;

    @media (max-width: $sm) {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content {
        max-width: 250px;

        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $color-white;
        }

        &__description {
            font-size: 14px;
            line-height: 20px;
            color: $color-white;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        &__link {
            &-button {
                /* обязательно меняем из строчного в блочный */
                display: flex;
                /* ставим текст по середине по высоте */
                align-items: center;
                /* ставим текст по середине по ширине */
                justify-content: center;
                /* центрирует по ширине, если не включен display: flex */
                text-align: center;
                /* всегда добавляем к ширине или высоте min */
                /* лучше max-width min-height */
                /* внутренние отступы  */
                padding: 0.25em 1em;
                /* закругления по углам */
                max-width: 170px;
                min-height: 35px;
                background: $color-accent-red;
                border: 2px solid $color-white;
                border-radius: 30px;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: $color-white;
            }

        }
    }

    &-picture {
        /* обязательно меняем из строчного в блочный */
        display: flex;
        /* ставим текст по середине по высоте */
        align-items: center;
    }

}