@import "common";
@import "button";
@import "navbar";
@import "hero";
@import "offers";
@import "submit";




.impuls {
    margin-bottom: 79px;
}

.impuls__box {
    /* height: 357px; */
    /* width: 1110px; */
    /* background-color: yellow; */
    // способ 1
    // display: flex;
    /* gap: 5px; */
    // flex-wrap: wrap;
    // способ 2
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.impuls__box-item {
    min-height: 119px;
    // width: 25%;
    background-color: #ffffff;
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    /* margin: auto; */
    border: 1px solid #efefef;
}

.impuls__box-image {
    /* делаем строчный img элемент блочным */
    display: block;
    /* ставим по центру */
    margin: auto;
    margin-top: 33px;
}

.looked {
    margin-bottom: 80px;
}

.looked__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 39px;
}

.looked__content {
    /* ставим горизонтально */
    /* display: flex; */
    // способ 1
    // display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    // grid-template-columns: repeat(4, 1fr);
    // способ 2
    display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 30px;
}

.looked-item {
    background-color: #ffffff;
    /* задаем одинаковое соотношение размеры всех items */
    /* чтобы при добавлении текста ничего не смещалось */
    /* мы убрали flex */
    /* flex-grow: 1; */
    /* обязательно указываем базисный размер, 1/4 */
    /* gap 20 * 3 / 4 = 15px */
    /* flex-basis: calc(25% - 22.5px); */
    /* flex-shrink: 0; */
    padding: 25px;
    /* обязательно */
    display: flex;
    /* ставим по вертикали */
    flex-direction: column;
    /* ставит по центру все блоки, если flex */
    align-items: center;
    /* отступы между блоками */
    gap: 20px;
}

.looked-item__title {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.looked-item__picture {
    /* ставим картинку выше текста */
    order: -1;
    /* выравниваем картинку (строчный элемент) по ширине, центр */
    text-align: center;
}

.looked-item__image {}

.looked-item__price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.looked-item__actions {}

.looked-item__button {}

.popular {
    min-height: 373px;
    /* ширину не задаем, она меняется от размера экрана */
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #efefef;
}

.popular-box {
    // способ 1
    // display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    // grid-template-columns: repeat(4, 1fr);
    // способ 2
    display: grid;
    /* ставим горизонтально, делим на 4 части по 1 fr, одинаково */
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 30px;
}

.popular-box__item {
    background-color: #ffffff;
}

.popular-box__item-title {
    width: 99px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    padding-bottom: 25px;
}

.popular-box__item-description {
    padding-top: 25px;
    border-top: 1px solid #efefef;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

.popular-box__item-list {
    /* убираем точки слева, делаем его не лист */
    list-style-type: none;
}

.footer {}

.footer-box1 {
    min-height: 120px;
    background-color: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px;
}

.container--ft1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box1__insta {
    display: flex;
    /* ставим по середине по высоте */
    align-items: center;
    gap: 20px;
}

.footer-box1__contacts {
    display: flex;
    /* ставим по середине по высоте */
    align-items: center;
    gap: 40px;
}

.footer-box1__contacts-phone {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.footer-box1__contacts-callback {}

.footer-box1__contacts-button {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    /* всегда добавляем к ширине или высоте min */
    /* лучше max-width min-height */
    max-width: 170px;
    min-height: 40px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.footer-box2 {
    height: 63px;
    background-color: #efefef;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container--ft2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box2__name {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer-box2__copyright {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

@media (max-width: 992px) {
    .container--submit {
        // отменили, сбросили то что было (initial)
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // grid-auto-flow: column;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 768px) {
    .navbar-info__container {
        justify-content: center
    }

    .hero {
        background-position: 68% 50%;
    }

    .offers__content {
        // отменили, сбросили то что было (initial)
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // два блока на весь экран
        grid-template-columns: repeat(2, 1fr);
    }

    .impuls__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .looked__content {
        // отменили, сбросили то что было (initial)
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // два блока на весь экран
        grid-template-columns: repeat(2, 1fr);
    }

    .popular-box {
        // отменили, сбросили то что было (initial)
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // два блока на весь экран
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-box1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container--ft1 {
        flex-direction: column;
        gap: 10px;
    }

    .container--ft2 {
        flex-direction: column;
        gap: 10px;
    }

    .footer-box2__name {
        text-align: center;
    }
}

@media (max-width: 576px) {

    // можно и включить, по желанию
    // .navbar-secondary__list {
    // ставит меню (список) один под другим
    // flex-direction: column;
    // }
    .feedback {
        flex-direction: column;
    }

    .hero {
        background-position: 62% 50%;
    }

    .offers__content {
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // один блок на весь экран
        grid-template-columns: 1fr;
        // так нельзя писать 1rf
        // grid-template-columns: repeat(1, 1fr);
    }

    .subscribe {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .looked__content {
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        // один блок на весь экран
        grid-template-columns: 1fr;
        // так нельзя писать 1rf
        // grid-template-columns: repeat(1, 1fr);
    }

    .footer-box1__contacts {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}