@charset "UTF-8";
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #333333;
  background: #efefef;

  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;

  color: inherit;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  max-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;

  text-align: center;
  letter-spacing: 0.05em;

  border-radius: 40px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
}

.activ:hover {
  -webkit-box-shadow: 0 0 7px #f13c6e;
          box-shadow: 0 0 7px #f13c6e;
}

.activ2:hover {
  -webkit-box-shadow: 0 0 7px #ffffff;
          box-shadow: 0 0 7px #ffffff;
}

.btn--primary {
  color: #000000;
  border: 2px solid #f13c6e;
  background: #ffffff;
}

.btn--secondary {
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #f13c6e;
}
.btn--sm {
  width: 130px;
  height: 35px;

  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  border: 1px solid #f13c6e;
  border-radius: 30px;
  background: #f13c6e;

  font-size: 14px;
  line-height: 16px;
}

.navbar-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: 50px;
  padding-top: 1em;
  padding-bottom: 1em;

  background: #efefef;
}

.navbar-secondary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  list-style-type: none;

  gap: 5px 30px;
}

.navbar-secondary__link {
  color: #333333;

  font-size: 14px;
  line-height: 16px;
}

.navbar-info {
  background-color: #ffffff;
}

.navbar-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #ffffff;

  gap: 10px 40px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 20px;
}

.logo__title {
  -webkit-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
  letter-spacing: 0.1em;

  color: #f13c6e;

  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}

.logo__title:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 10px 40px;
}

.feefback__phone {
  color: #000000;

  font-size: 16px;
  line-height: 19px;
}
.navbar-primary {
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 1px solid #efefef;
  background-color: #ffffff;
}

.navbar-primary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  list-style-type: none;

  gap: 5px 40px;
}

.navbar-primary__link {
  color: #000000;

  font-size: 16px;
  line-height: 19px;
}

.hero {
  min-height: 604px;
  padding-top: 159px;
  padding-bottom: 192px;

  color: #ffffff;
  background-color: #f13c6e;
  background-image: url(../img/Background1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__content {
  max-width: 310px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero__description {
  padding-top: 9px;
  padding-bottom: 44px;

  font-size: 14px;
  line-height: 20px;
}

.offers {
  padding-top: 80px;
  padding-bottom: 100px;
}

.offers__title {
  margin-bottom: 39px;

  color: #000000;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.offers__content {
  display: grid;

  gap: 30px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding: 25px;

  background-color: #ffffff;

  gap: 20px;
}

.offer-item__title {
  text-align: center;

  color: #333333;

  font-size: 14px;
  line-height: 20px;
}

.offer-item__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;

  text-align: center;
}

.offer-item__price {
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.submit {
  padding-bottom: 100px;
}

.container--submit {
  display: grid;

  gap: 30px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  min-height: 210px;
  padding-top: 35px;
  padding-right: 50px;
  padding-bottom: 35px;
  padding-left: 40px;

  background-color: #f13c6e;

  gap: 30px;
}

.subscribe-content {
  max-width: 250px;
}

.subscribe-content__title {
  color: #ffffff;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.subscribe-content__description {
  margin-top: 25px;
  margin-bottom: 25px;

  color: #ffffff;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.subscribe-content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 225px;
  height: 35px;
  padding: 0.25em 1em;

  color: #c4c4c4;
  border: 2px solid #f13c6e;
  border-radius: 30px;
  background: #ffffff;

  font-size: 14px;
  line-height: 16px;
}

.subscribe-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  min-height: 210px;
  padding-top: 35px;
  padding-right: 50px;
  padding-bottom: 35px;
  padding-left: 40px;

  background-color: #f13c6e;

  gap: 30px;
}

.location-content {
  max-width: 250px;
}

.location-content__title {
  color: #ffffff;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.location-content__description {
  margin-top: 25px;
  margin-bottom: 25px;

  color: #ffffff;

  font-size: 14px;
  line-height: 20px;
}

.location-content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  max-width: 170px;
  min-height: 35px;
  padding: 0.25em 1em;

  text-align: center;
  text-align: center;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background: #f13c6e;

  font-size: 14px;
  line-height: 16px;
}

.location-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}

.impuls {
  margin-bottom: 79px;
}

.impuls__box {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.impuls__box-item {
  min-height: 119px;

  border: 1px solid #efefef;
  background-color: #ffffff;
}

.impuls__box-image {
  display: block;

  margin: auto;
  margin-top: 33px;
}

.looked {
  margin-bottom: 80px;
}

.looked__title {
  margin-bottom: 39px;

  color: #000000;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.looked__content {
  display: grid;

  gap: 30px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.looked-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding: 25px;

  background-color: #ffffff;

  gap: 20px;
}

.looked-item__title {
  text-align: center;

  color: #333333;

  font-size: 14px;
  line-height: 20px;
}

.looked-item__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;

  text-align: center;
}

.looked-item__price {
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.popular {
  min-height: 373px;
  padding-top: 60px;
  padding-bottom: 50px;

  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
}

.popular-box {
  display: grid;

  gap: 30px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.popular-box__item {
  background-color: #ffffff;
}

.popular-box__item-title {
  width: 99px;
  padding-bottom: 25px;

  color: #000000;

  font-size: 16px;
  font-weight: 500;
  line-height: 140.62%;
}

.popular-box__item-description {
  padding-top: 25px;

  color: #828282;
  border-top: 1px solid #efefef;

  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.popular-box__item-list {
  list-style-type: none;
}

.footer-box1 {
  min-height: 120px;
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: #ffffff;
}

.container--ft1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-box1__insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 20px;
}

.footer-box1__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 40px;
}

.footer-box1__contacts-phone {
  color: #000000;

  font-size: 16px;
  line-height: 19px;
}

.footer-box1__contacts-button {
  max-width: 170px;
  min-height: 40px;

  color: #000000;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  background: #ffffff;

  font-size: 14px;
  line-height: 16px;
}

.footer-box2 {
  height: 63px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #efefef;
}

.container--ft2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-box2__name {
  color: #828282;

  font-size: 12px;
  line-height: 14px;
}

.footer-box2__copyright {
  color: #828282;

  font-size: 12px;
  line-height: 14px;
}

@media (max-width: 992px) {
  .container--submit {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .navbar-info__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero {
    background-position: 68% 50%;
  }
  .offers__content {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 1fr);
  }
  .impuls__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .looked__content {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-box {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-box1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container--ft1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    gap: 10px;
  }
  .container--ft2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    gap: 10px;
  }
  .footer-box2__name {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .hero {
    background-position: 62% 50%;
  }
  .offers__content {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: 1fr;
  }
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    gap: 10px;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    gap: 10px;
  }
  .looked__content {
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-template-columns: 1fr;
  }
  .footer-box1__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    gap: 15px;
  }
}
